* {
    box-sizing: border-box;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  h1,
  h2,
  h3,
  h4 {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
  
  #app {
    background-color: #ddd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 1px 20px 0px rgb(0 0 0 / 50%);
    height: 80%;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  
  
  main {
    height: 60%;
  }
  
  h1 {
    font-weight: bold;
    font-size: 2.5rem;
    color: #007bff;
}
  
  a {
    color: black;
    text-decoration: none;
  }
  
  form {
    display: flex;
  }
  
  form input {
    flex: 1;
    padding: 5px;
    border-radius: 5px;
    border: 0;
    margin-right: 5px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    margin: 10px;
    margin-left: 0px;
  }
  button:hover {
    background-color: #0056b3;
  }
  
  ul {
    padding: 0;
    overflow-y: scroll;
    height: 100%;
  }
  
  ul li {
    list-style: none;
  }
  
  label {
    cursor: pointer;
  }
 

li {
  margin-bottom: 10px;
  padding: 10px;
  border: 2px solid #007bff; /* Change the border color as needed */
  border-radius: 10px;
}

li:hover {
  background-color: #f0f0f0; /* Change the background color on hover as needed */
}

/* Scrollbar styles */
ul {
  max-height: 280px; 
  overflow-y: auto;
  
}

::-webkit-scrollbar {
  width: 8px;

}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

.form-group {
  margin-bottom: 10px;
}
.hr-custom {
  border: 1px solid #007bff;
  margin: 0 0 20px 0;
}

.client-list-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.client-list-container label {
  font-style: italic;
  font-size: 1.2rem;
}

.add-client-container form {
  
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-client-container label {
  font-style: italic;
  font-size: 1.2rem;
}

.add-client-container input[type="text"], input[type="email"] {
  padding: 5px;
  margin-bottom: 10px;
  width: 250px; 
}

.add-invoice-form form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-invoice-form label {
  font-style: italic;
  font-size: 1.2rem;
}

.add-invoice-form input[type="number"] {
  padding: 5px;
  margin-bottom: 10px;
  width: 250px; 
}

.add-invoice-form select {
  padding: 5px;
  margin-bottom: 10px;
  width: 240px; 
}


#table-wrapper {
  position: relative;
  margin: 0 auto; /* Ajout de marges automatiques pour centrer horizontalement */
}

#table-scroll {
  height: 200px;
  overflow: auto;
  margin-top: 20px;
}

#table-wrapper table {
  width: 50%;
  border-collapse: collapse; 
}

#table-wrapper table * {
  background: none; 
  color: black; 
  text-align: center;
  border: 1px solid #007bff; 
}

#table-wrapper table thead th .text {
  position: absolute;
  top: -20px;
  z-index: 2;
  height: 20px;
  width: 35%;
  border: 1px solid red;
}

.no-invoices {
  font-style: italic;
  color: #888;
}
